<div class="container">
  <div class="d-flex flex-column align-items-center">
    <h1 class="m-5">Modification d'absence</h1>
    <form [formGroup]="editForm" novalidate>

      <!-- Form field for beginDate -->
      <div class="form-group row mb-3">
        <label class="col-sm-5 col-form-label">Date de début</label>
        <div class="col-sm-7">
          <input type="date" class="form-control" formControlName="BeginDate" #BeginDate [(ngModel)]="absence.dateFin">
        </div>
      </div>

      <!-- Form field for endDate -->
      <div class="form-group row mb-3">
        <label class="col-sm-5 col-form-label">Date de fin</label>
        <div class="col-sm-7">
          <input type="date" class="form-control" formControlName="EndDate" #EndDate [(ngModel)]="absence.dateDebut">
        </div>
      </div>

      <!-- Form selector for absence type -->
      <div class="form-group row mb-3">
        <label class="col-sm-5 col-form-label">Type de congé</label>
        <div class="col-sm-7">
          <!--
          <select class="form-select" formControlName="AbsenceType" #AbsenceType [(ngModel)]="absence.absenceType">
            <option selected>(Type de congé)</option>
            <option value="1">Congé payé</option>
            <option value="2">RTT</option>
            <option value="3">Congé sans solde</option>
          </select>
          -->
          <select class="form-select" formControlName="AbsenceType" #AbsenceType [(ngModel)]="absence.absenceType">
            <option *ngFor="let type of absenceEnumType | keyvalue" [ngValue]="type.value">{{type.value}}</option>
          </select>
        </div>

      </div>

      <!-- Form text area for absence motif (only if absence type is 'Congé sans solde') -->
      <div class="form-group">
        <label class="col-md-4">Motif</label>
        <textarea class="form-control" rows=7 cols="5" formControlName="Motive" #Motive [(ngModel)]="absence.motif"></textarea>
      </div>

      <!-- Buttons cancel and validate-->
      <div class="form-group">
        <button type="button" class="btn btn-danger">Annuler</button>
        <button type="submit" class="btn btn-success" (click)="updateAbsence(BeginDate.value, EndDate.value, AbsenceType.value, Motive.value)">Valider</button>
      </div>
    </form>
  </div>
</div>

