<div class="jumbotron jumbotron-fluid rounded bg-dark p-3 m-3">
    <nav *ngIf="currentUser" class="navbar navbar-expand-md navbar-light bg-light ">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" [routerLink]="['home']">
                <img src="../../../assets/images/diginamic.png" width="50" height="50" class="d-inline-block align-top rounded m-4" alt="diginamic">
            </a>
        </nav>

        <div class="collapse navbar-collapse col-md-8" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['home']">
                        <button type="button" class="btn btn-outline-dark">Accueil</button>
                    </a>
                </li>


                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['gestion-absences']">
                        <button type="button" class="btn btn-outline-dark">Gestion des absences</button>
                    </a>
                </li>


                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['planning-absences']">
                        <button type="button" class="btn btn-outline-dark">Planning des absences</button>
                    </a>
                </li>

                <li *ngIf="" class="nav-item active">
                    <a class="nav-link" [routerLink]="['validation-absences']">
                        <button type="button" class="btn btn-outline-dark">Validation des absences</button>
                    </a>
                </li>

                <li *ngIf="" class="nav-item active">
                    <a class="nav-link" [routerLink]="['vues-synthetiques']">
                        <button type="button" class="btn btn-outline-dark">Vues synthetiques</button>
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" [routerLink]="['closed-days']">
                        <button type="button" class="btn btn-outline-dark">Jours feriés</button>
                    </a>
                </li>
            </ul>
        </div>
        <div class=" col-md-4">
            <div>
                <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="24" height="24"><path fill-rule="evenodd" d="M10.5 5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zm.061 3.073a4 4 0 10-5.123 0 6.004 6.004 0 00-3.431 5.142.75.75 0 001.498.07 4.5 4.5 0 018.99 0 .75.75 0 101.498-.07 6.005 6.005 0 00-3.432-5.142z" class="m-2 align-top"></path></svg>                    Bonjour {{currentUser.nom}}</p>
                <a type="button " class="nav-link m-3" (click)="authService.logout() ">Se déconnecter</a>
            </div>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    </nav>


</div>