<div class="container border-rounded p-4 m-3">
    >>>>>>> enyon-dev

    <h5 class="text-center m-3 p-2">Jours fériés et RTT employeurs</h5>

    <div class="text-center m-3 p-2">
        Année
        <input type="number" max="2200" min="1970" class="m-3" value="2017" />
        <button type="submit" class="btn btn-outline-secondary p-1">Visualiser</button>
    </div>
    <table class="table table-bordered rounded">
        <thead>
            <th>Date</th>
            <th>Type</th>
            <th>Jour</th>
            <th>Commentaires</th>
            <th>Actions</th>

        </thead>
        <tbody>
            <tr *ngFor="let closedDay of closedDays">
                <td>{{closedDay.date}}</td>
                <td>{{closedDay.category}}</td>
                <td>{{closedDay.jour}}</td>
                <td>{{closedDay.commentaires}}</td>
                <td>
                    <div *ngIf="getUserRoleAdmin();then block else notBlock"></div>

                    <ng-template #block>
                        <button type="submit" class="btn btn-primary p-1 float-right">+ Ajouter un RTT ou Jour Férié</button>
                        <button type="submit" class="btn btn-primary p-1 float-right">+ Ajouter un RTT ou Jour Férié</button>
                    </ng-template>
                </td>

                <ng-template #notBlock></ng-template>



            </tr>

        </tbody>
    </table>
    <div class="float-right">
        <button type="submit" class="btn btn-primary p-1 float-right">+ Ajouter un RTT ou Jour Férié</button>

    </div>

</div>