<br>
<br>
<div class="container">
  <div class="text">
    <p class=" text-nowrap text-center font-weight-bold font-italic">
      Gestion des absences
    </p>
    <br>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Type</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let absence of absences">
      <td>{{absence.dateDebut}}</td>
      <td>{{absence.dateFin}}</td>
      <td>{{absence.absenceType}}</td>
      <td>{{absence.requestStatus}}</td>
      <td>
        <button *ngIf="absence.requestStatus=='INITIALE' || absence.requestStatus=='REJETEE'" class="btn btn-warning">Modifier</button>
        <button class="btn btn-danger">Supprimer</button>
        <button class="btn btn-primary">voir</button>
      
      </td>
      </tr>
     </tbody> 
  </table>

  <p class="text-right">Demander une absences
    <a>
      <img class="imgAdd" type="button" src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/add.png">
    </a>
  </p>

  <p>Soldes des compteurs: {{user.congesPyesRestants}}</p>
  <p>Congés payés: {{user.rttRestants}}</p>
</div>

 

  
 
 
