<br>
<br>
<div class="container">
  <div class="text">
    <p class=" text-nowrap text-center font-weight-bold font-italic">
      Gestion des absences
    </p>
    <br>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date de début</th>
        <th>Date de fin</th>
        <th>Type</th>
        <th>Statut</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let absences of absense"> -->
      <td></td>

  </table>

  <p class="text-right">Demander une absences
    <a>
      <img class="imgAdd" type="button" src="https://cdn4.iconfinder.com/data/icons/meBaze-Freebies/512/add.png">
    </a>
  </p>

  <p>Soldes des compteurs:</p>
  <p>Congés payés:</p>
</div>

 

  
 
 
